// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-aside-b-name: 'arrow_aside_b'
$arrow-aside-b-x: 127px
$arrow-aside-b-y: 90px
$arrow-aside-b-offset-x: -127px
$arrow-aside-b-offset-y: -90px
$arrow-aside-b-width: 15px
$arrow-aside-b-height: 8px
$arrow-aside-b-total-width: 153px
$arrow-aside-b-total-height: 110px
$arrow-aside-b-image: '../img/sprite.png'
$arrow-aside-b: (127px, 90px, -127px, -90px, 15px, 8px, 153px, 110px, '../img/sprite.png', 'arrow_aside_b', )
$arrow-aside-t-name: 'arrow_aside_t'
$arrow-aside-t-x: 127px
$arrow-aside-t-y: 82px
$arrow-aside-t-offset-x: -127px
$arrow-aside-t-offset-y: -82px
$arrow-aside-t-width: 15px
$arrow-aside-t-height: 8px
$arrow-aside-t-total-width: 153px
$arrow-aside-t-total-height: 110px
$arrow-aside-t-image: '../img/sprite.png'
$arrow-aside-t: (127px, 82px, -127px, -82px, 15px, 8px, 153px, 110px, '../img/sprite.png', 'arrow_aside_t', )
$arrow-filter-name: 'arrow_filter'
$arrow-filter-x: 142px
$arrow-filter-y: 82px
$arrow-filter-offset-x: -142px
$arrow-filter-offset-y: -82px
$arrow-filter-width: 11px
$arrow-filter-height: 6px
$arrow-filter-total-width: 153px
$arrow-filter-total-height: 110px
$arrow-filter-image: '../img/sprite.png'
$arrow-filter: (142px, 82px, -142px, -82px, 11px, 6px, 153px, 110px, '../img/sprite.png', 'arrow_filter', )
$arrow-menu-name: 'arrow_menu'
$arrow-menu-x: 127px
$arrow-menu-y: 98px
$arrow-menu-offset-x: -127px
$arrow-menu-offset-y: -98px
$arrow-menu-width: 13px
$arrow-menu-height: 8px
$arrow-menu-total-width: 153px
$arrow-menu-total-height: 110px
$arrow-menu-image: '../img/sprite.png'
$arrow-menu: (127px, 98px, -127px, -98px, 13px, 8px, 153px, 110px, '../img/sprite.png', 'arrow_menu', )
$basket-name: 'basket'
$basket-x: 127px
$basket-y: 47px
$basket-offset-x: -127px
$basket-offset-y: -47px
$basket-width: 20px
$basket-height: 17px
$basket-total-width: 153px
$basket-total-height: 110px
$basket-image: '../img/sprite.png'
$basket: (127px, 47px, -127px, -47px, 20px, 17px, 153px, 110px, '../img/sprite.png', 'basket', )
$clock-name: 'clock'
$clock-x: 127px
$clock-y: 0px
$clock-offset-x: -127px
$clock-offset-y: 0px
$clock-width: 26px
$clock-height: 26px
$clock-total-width: 153px
$clock-total-height: 110px
$clock-image: '../img/sprite.png'
$clock: (127px, 0px, -127px, 0px, 26px, 26px, 153px, 110px, '../img/sprite.png', 'clock', )
$del-name: 'del'
$del-x: 127px
$del-y: 26px
$del-offset-x: -127px
$del-offset-y: -26px
$del-width: 21px
$del-height: 21px
$del-total-width: 153px
$del-total-height: 110px
$del-image: '../img/sprite.png'
$del: (127px, 26px, -127px, -26px, 21px, 21px, 153px, 110px, '../img/sprite.png', 'del', )
$exchange-name: 'exchange'
$exchange-x: 65px
$exchange-y: 75px
$exchange-offset-x: -65px
$exchange-offset-y: -75px
$exchange-width: 28px
$exchange-height: 25px
$exchange-total-width: 153px
$exchange-total-height: 110px
$exchange-image: '../img/sprite.png'
$exchange: (65px, 75px, -65px, -75px, 28px, 25px, 153px, 110px, '../img/sprite.png', 'exchange', )
$group-name: 'group'
$group-x: 35px
$group-y: 75px
$group-offset-x: -35px
$group-offset-y: -75px
$group-width: 30px
$group-height: 26px
$group-total-width: 153px
$group-total-height: 110px
$group-image: '../img/sprite.png'
$group: (35px, 75px, -35px, -75px, 30px, 26px, 153px, 110px, '../img/sprite.png', 'group', )
$in-name: 'in'
$in-x: 0px
$in-y: 75px
$in-offset-x: 0px
$in-offset-y: -75px
$in-width: 35px
$in-height: 35px
$in-total-width: 153px
$in-total-height: 110px
$in-image: '../img/sprite.png'
$in: (0px, 75px, 0px, -75px, 35px, 35px, 153px, 110px, '../img/sprite.png', 'in', )
$percent-name: 'percent'
$percent-x: 0px
$percent-y: 0px
$percent-offset-x: 0px
$percent-offset-y: 0px
$percent-width: 75px
$percent-height: 75px
$percent-total-width: 153px
$percent-total-height: 110px
$percent-image: '../img/sprite.png'
$percent: (0px, 0px, 0px, 0px, 75px, 75px, 153px, 110px, '../img/sprite.png', 'percent', )
$phone-name: 'phone'
$phone-x: 127px
$phone-y: 64px
$phone-offset-x: -127px
$phone-offset-y: -64px
$phone-width: 18px
$phone-height: 18px
$phone-total-width: 153px
$phone-total-height: 110px
$phone-image: '../img/sprite.png'
$phone: (127px, 64px, -127px, -64px, 18px, 18px, 153px, 110px, '../img/sprite.png', 'phone', )
$truck-name: 'truck'
$truck-x: 75px
$truck-y: 0px
$truck-offset-x: -75px
$truck-offset-y: 0px
$truck-width: 52px
$truck-height: 25px
$truck-total-width: 153px
$truck-total-height: 110px
$truck-image: '../img/sprite.png'
$truck: (75px, 0px, -75px, 0px, 52px, 25px, 153px, 110px, '../img/sprite.png', 'truck', )
$vk-name: 'vk'
$vk-x: 75px
$vk-y: 25px
$vk-offset-x: -75px
$vk-offset-y: -25px
$vk-width: 35px
$vk-height: 36px
$vk-total-width: 153px
$vk-total-height: 110px
$vk-image: '../img/sprite.png'
$vk: (75px, 25px, -75px, -25px, 35px, 36px, 153px, 110px, '../img/sprite.png', 'vk', )
$spritesheet-width: 153px
$spritesheet-height: 110px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-aside-b, $arrow-aside-t, $arrow-filter, $arrow-menu, $basket, $clock, $del, $exchange, $group, $in, $percent, $phone, $truck, $vk, )
$spritesheet: (153px, 110px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
